* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    /* width: 100vw; */
    border: 1px dashed;
}

.star {
    height: 100px;
    width: 100px;
}


.ease-main,
.text {
    border: 1px dashed red;
    width: 100%;
}

h1,
h2 {
    width: fit-content;
    border: 1px dashed;
}

.star {

    border: 1px dashed;
    /* Set explicit width */
    /* position: absolute; */
    /* Or any other positioning you require */
}

/* ease method */
.ease-main {
    width: 100%;
    border: 2px solid green;
}

/* .ease {
    height: 100px;
    width: 100px;
    border-radius: 50%;
} */

p {
    font-size: 30px;
    width: fit-content;
    border: 1px dashed;
    color: white;
}

p:nth-child(even) {
    background-color: green;
}

p:nth-child(odd) {
    background-color: red;
}

.stagger-box {
    border: 1px solid orangered;
}

.stagger {
    border: 1px solid;
    width: fit-content;
    height: 50px;
    width: 50px;
    display: grid;
    place-items: center;
}



/* tween control - start */
img {
    display: block;
}

​ #nav {
    margin-top: 20px;
}

​ button {
    border-radius: 10px;
    background: #fc3;
    color: #06c;
    font-size: 14px;
    padding: 10px;
    border: none;
    font-weight: bold;

}

​ button:focus {
    outline: none;
    background-color: white;
}

/* tween control - end */


.transform-main {
    width: 100%;
    border: 1px solid blueviolet;
}

.transform {
    height: 100px;
    width: 100px;
    border: 1px solid;
    margin: 100px;
}