* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    /* width: 100vw; */
    border: 1px dashed;
}

.star {
    height: 100px;
    width: 100px;
}


div {
    border: 1px dashed red;
    width: 100%;
}

h1,
h2 {
    width: fit-content;
    border: 1px dashed;
}

.star {

    border: 1px dashed;
    /* Set explicit width */
    /* position: absolute; */
    /* Or any other positioning you require */
}

/* ease method */
.ease-main {
    width: 100%;
    border: 2px solid green;
}

/* .ease {
    height: 100px;
    width: 100px;
    border-radius: 50%;
} */

p {
    font-size: 30px;
    width: fit-content;
    border: 1px dashed;
    color: white;
}

p:nth-child(even) {
    background-color: green;
}
p:nth-child(odd) {
    background-color: red;
}